


<!-- /**********************************************************
* Project: R.Lloyd Gonzales Portfolio Website
* URL: RLGonzales.com
* Contact: rolandolloyd@gmail.com
* Copyright © 2018 GonzalesDesign
* Platform: Angular 6
* Component: Intro Mondrian Component View Template
* Note: Index intro
***********************************************************/ -->

<div class="centerLine"></div>

<!-- Loader component -->
<app-loader-svg></app-loader-svg>

<!-- INTRO MONDRIAN -->
<div id="rlg-main-kontainer">

    <!-- photo containers layout wrapper -->
    <div id="rlg-kontainer">

        <!-- Title and sub-title -->
        <div id="title-kontainer">
          <h1 class="title">R.LLOYD GONZALES</h1>
          <div class="sub-title rlg-primary-color">UI DESIGNER • ANGULAR DEVELOPER</div>
        </div>

        <!--==== Observable test ====-->
        <h3>{{errorMsg}}</h3>

        <!-- photo containers -->
        <div *ngFor="let photo of photos; let i = index"
          id="{{ photo.kontainerId }}"
          class="photo-kontainer"
          [style.width.px]="0"
          [style.height.px]="0"
          [style.opacity]=".1"
          [style.x.vw]="50"
          [style.top.px]="0"
          >
          <!-- [style.border]="'1px solid red'" -->

          <!-- photos -->
          <div id="{{ photo.imageId }}" class="foto"
            [style.backgroundImage]="'url('+ photo.imageUrl +')'"
            [style.background-repeat]= "'no-repeat'"
            >
            <!-- [style.backgroundPositionX]="-100"
            [style.width.%]="100"
            [style.height.%]="100"
              [style.display]= "'flex'"
            [style.flex-direction]= "'column'"
                  [style.width.px]="400"
                  [style.height.px]="300"
                  [style.left.px]="0"
                  [style.opacity]=".5"
                  [style.height.px]="500"
                  [style.border]="'1px solid red'"
            [style.backgroundPositionX.%]="50"
            [style.backgroundSize]= "'cover'"
            [style.border]="'1px solid grey'"
            -->
          </div>

          <!-- Testing the secondary images from json -->
          <!-- <div *ngFor="let popPhoto of popUpImages; let i = index"
                [style.backgroundImage]="'url('+ popPhoto +')'"
                [style.background-repeat]= "'no-repeat'"
                [style.height.px]="100"
                >
          </div> -->

          <!-- Show on small screen -->
          <div class="photo-info-kontainer">
            <!-- <div class="rlg-photo-headings rlg-photo__primary"> -->
            <h2 class="rlg-photo-title mdc-typography--headline6X primaryColorX">{{ photo.photoTitle }}</h2>
            <h3 class="rlg-photo-subtitle mdc-typography--subtitle2X secondaryColorX">{{ photo.photoSubtitle }}</h3>
            <!-- </div> -->
            <div class="rlg-photo-body rlg-photo__secondaryX mdc-typography--body2X secondaryColorX">
                {{ photo.photoDescription }}
            </div>
          </div>

          <!-- End Show -->
          <!-- [style.font-size.px]="isImportant ? '30' : '16'" -->
          <!-- <div [style.display]="isSmallScreen ? 'visible' : 'none'"> -->

          <div class="rlg-button-kontainer">
            <button mdc-button [unelevated]="true"
                    [icon]="true" class="rlg-button rlg-ink-color2"
                    (click)="fOpenModal(photo.images[i])">
                    <!--
                      (click)="openSimple(photo.images[i], photo.photoTitle)"
                      (click)="fOpenModal(photo.images[i])"
                      (click)="fOpenModal(photo.imageUrl)"
                    [style.zIndex]=2000
                    > -->
              <mdc-icon>loupe</mdc-icon>
              {{ photo.buttonLabel }}
            </button>
          </div>
      </div>

    </div>
</div>