

// :root = @angular-mdc/theme/material-components-web/theme/_variables.scss

// @import '~@angular/material/theming';
// @include mat-core();
@import "~@angular-mdc/theme/material";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700");
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');
@import url("https://fonts.googleapis.com/css?family=Oswald");

/*---- Material Design Component: MDC ----*/
/* $mdc-theme-primary: $material-color-deep-orange-500 !default; // $material-color-red-800; //  rgb(194, 7, 135);
$mdc-theme-accent: $material-color-grey-500 !default;
$mdc-theme-secondary: $mdc-theme-accent !default;
$mdc-theme-background: rgb(177, 173, 173);
$mdc-theme-surface: $material-color-grey-300; */

/* $primaryColor: $mdc-theme-primary;
$secondaryColor: $mdc-theme-accent;
$warningColor: $material-color-red-600;
$backgroundColor: $material-color-blue-50; */

/*-- Compound Color Schemes or Split Complementary --*/
$rlgColorPrimary: rgb(178, 215, 50);
$rlgColorPrimaryMid: rgb(204, 224, 129);
$rlgColorSecondary: #347B98;
$rlgColorSecondaryMid: rgb(113, 162, 182);
$rlgColorTertiary: #FE2712;
$rlgColorTertiaryMid: rgb(243, 137, 127);
$rlgColorDark: #092834;
$rlgColorDarkMid: #45798b;
$rlgColorLight: #F0F7D4;

$primaryColor: $rlgColorPrimary;
$secondaryColor: $rlgColorSecondary;
$warningColor: $material-color-red-600;
$backgroundColor: $material-color-blue-50;

$mdc-theme-primary: $rlgColorPrimary;

$text-dark-shadow: 1px 1px $rlgColorDark; // $material-color-grey-800;
$text-mid-shadow: 1px 1px rgba($rlgColorDark, .5);
$text-light-shadow: 1px 1px rgba($rlgColorDark, .25);
$text-white-shadow: 1px 1px rgba(white, .15);

$mdc-deep-orange: $material-color-deep-orange-500;

$rlg-theme-light-grey: $material-color-grey-50;



/*-- Font families ---*/
$rlg-primary-font: "OpenSans";
$rlg-header-font: "Oswald";
$rlg-round-font: "Lato";

$rlg-bodycopy-color: $material-color-grey-600; // #747874;

body {
    margin: 0;
    background-color:  $rlgColorPrimary; // $rlgColorDark; // $rlgColorLight;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
